/* All styling for pages under manager folder */
/* Style for managers Dashboard by meg */
:root {
  --bg-dark-body: #050810;
  --bg-card: #0b1120;
  --color-blue: #3b82f6;
  --color-green: #22c55e;
  --color-text: #f8fafc;
  --color-muted: #64748b;

  /* Your specific requested shadow */
  --card-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

/* --- BASIC RESET --- */

.body {
  margin: 0;
  background-color: var(--bg-dark-body);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}
.nav-links {
  margin-left: 80px;
  background-color: #101a22cc;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 1000;
  margin-top: 0;
  padding: 16px 24px 16px 24px;
}

.navoversight {
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  line-height: 28px;
  color: #f1f5f9;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navDate {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #94a3b8;
  margin-top: 0;
  padding-top: 0;
}

/* --- LAYOUT --- */
.app-layout {
  display: flex;
  min-height: 100vh;
  /* background-color: #3b82f6; */
}

.sidebar {
  width: 80px;
  background: var(--bg-dark-body);
  border-right: 1px solid #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.assest {
  display: flex;
  width: 100%;
  height: 137px;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.dashBoardTotalAssest {
  width: 50%;
  height: 130px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border: 1px solid #23313d;
  padding-left: 10px;
  background: #1a252e;
}
.dashBoardActiveAlert {
  width: 50%;
  height: 130px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border: 1px solid #23313d;
  padding-left: 10px;
  background: #1a252e;
  text-align: left;
}

.dashboardassesth4 {
  font-size: 10px;
  font-weight: 700s;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #64748b;
  margin-bottom: 30px;
}

.dashboardassestfigures {
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  line-height: 32px;
  color: #f1f5f9;
  margin-bottom: 0;
  padding-bottom: 0;
}
.dashboardassestp {
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  margin-top: 0;
  padding-top: 0;
  color: #22c55e;
}
.dashboardassestp2 {
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  margin-top: 0;
  padding-top: 0;
  color: #ef4444;
}
.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.approvalListH2 {
  font-size: 14px;
  font-weight: 700;
  font-style: bolds;
  line-height: 20px;
  letter-spacing: 1.4px;
  color: #64748b;
  margin-top: 24px;
}
.main-content {
  flex: 1;
  padding: 40px;
  max-width: 100%;
}
.approval-card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: var(--card-shadow);
  border: 1px solid #1e293b;
}
.aprrovalanchor {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #1180d4;
  cursor: pointer;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.sub-label {
  font-size: 11px;
  color: var(--color-muted);
  display: block;
}
.qty-add {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-blue);
}

/* --- USER INFO STRIP --- */
.user-strip {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 13px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.av-green {
  background: var(--color-green);
}
.av-blue {
  background: var(--color-blue);
}

/* --- BUTTONS --- */
.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-dark {
  background: #1e293b;
  color: white;
}
.btn-blue {
  background: var(--color-blue);
  color: white;
}
button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.dashboardInsulin {
  width: 100%;
  height: 66px;
  border-radius: 12px;
  border: 1px solid #23313d;
  background: #1a252e;
}
.criticalsecth2 {
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  line-height: 16px;
  color: #f1f5f9;
  margin-bottom: 0;
  padding-bottom: 0;
}
.criticalsectionp {
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
  color: #64748b;
  margin-top: 0;
  padding-top: 0;
}

.criticalalert {
  display: grid;
  gap: 16px;
}
.inventoryHealth {
  width: 100%;
  height: 153px;
  border-radius: 16px;
  padding: 16px;
  box-shadow:
    0px 8px 10px -6px #1180d433,
    0px 20px 25px -5px #1180d433;
  background: #1180d4;
  margin-top: 30px;
}

.inventoryh4 {
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  padding-bottom: 0;
  margin-bottom: 0;
}

.inventoryp {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #ffffff;
  margin-top: 5px;
  padding-top: 0;
}
.inventoryHealthRatio {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  height: 76px;
  align-items: end;
  /* padding-bottom: 10px; */
  width: 100%;
}

.one {
  height: 38.39px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.two {
  height: 51.19px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.three {
  height: 60.8px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff66;
}

.four {
  height: 44.8px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.five {
  height: 54.39px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.six {
  height: 41.5px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.seven {
  height: 76px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #ffffff80;
}

/* Styling for review by meg */

.reviewbody {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-dark-body);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}

.reviewNavlinks {
  margin-left: 80px;
  background-color: #101a22cc;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 1000;
  margin-top: 0;
  padding: 16px 24px 16px 24px;
}

.reviewAppLayout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.reviewSidebar {
  width: 80px;
  /* background: var(--bg-dark-body); */
  border-right: 1px solid #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh;
}

.reviewMain {
  padding: 30px;
}
.reviewNavOversighth2 {
  font: 18px;
  font-weight: 700;
  font-style: bold;
  line-height: 28px;
  color: #f1f5f9;
}

.reviewOversightDiv {
  display: flex;
  gap: 18px;
}

.reviewSectionAmoxi {
  font-size: 24px;
  font-weight: 700;
  font-style: bold;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

.reviewSectionAmoxiP {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #64748b;
}
.reviewSectionAmoxiSpan {
  font-size: 13px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #f59e0b;
}

.batchSection {
  width: 1750px;
  height: 403px;
  border-radius: 16px;
  border: 1px solid #23313d;
  padding: 20px;
  background-color: #161e27;
  margin-top: 20px;
}

.batchNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.batchNumberH4 {
  font-weight: 700;
  font-size: 10px;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 1px;
  color: #64748b;
  margin-bottom: 5px;
}

.batchNumberp {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: #e2e8f0;
}

.batchNumberDiv2 {
  width: 50%;
}

.batchNumberp2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 28px;
  color: #2a5c82;
}
.reviewExpiryDate {
  font-weight: 700;
  font-size: 10px;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 1px;
  color: #64748b;
}
.reviewExpiryDatep {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #e2e8f0;
  margin-bottom: 80px;
}
.submissionhistory {
  width: 1700;
  border-radius: 16px;
  background-color: #ffffff01;
  box-shadow:
    0px 8px 10px -6px #0000001a,
    0px 20px 25px -5px #0000001a;
  border-top: 1px solid #23313d;
  /* height: 71px; */
  padding-top: 15px;
}
.submissionhistoryh4 {
  font-size: 10px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 1px;
  color: #64748b;
  margin-bottom: 10px;
}

.submissionhistoryp {
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 20px;
  color: #f1f5f9;
}
.submissionistoryblackbox {
  width: 1600;
  height: 44px;
  border-radius: 8px;
  padding: 12px;
  background-color: #0b1117;
  border: 1px solid #23313d80;
  margin-top: 40px;
}
.ID {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #64748b;
  display: grid;
  gap: 5px;
}

.reviewsectionID {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.ID2 {
  text-align: right;
  display: grid;
  gap: 5px;
}

.reviewsectionIDp {
  font-weight: 400px;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  color: #94a3b8;
}

.reviewsectionIDp2 {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a5c82;
}

.footersection {
  width: 1700px;
  padding: 24px;
  display: grid;
  gap: 16px;
  place-items: center;
  background-color: #0b1117e5;
  border-top: 1px solid #23313d;
  backdrop-filter: blur(24px);
  margin-top: 100px;
}

.footersectionBuutton {
  width: 448px;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  animation-duration: 0ms;
  height: 52px;
  border-radius: 12px;
  background-color: #2a5c82;
  box-shadow:
    0px 4px 6px -4px #2a5c8233,
    0px 10px 15px -3px #2a5c8233;
}

.footersectionBuutton2 {
  width: 448px;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 20px;
  height: 52px;
  color: #94a3b8;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #334155;
  background: #0b1117;
}
.emtydiv {
  width: 128px;
  height: 15pxs;
  border-radius: 9999px;
  background-color: #1e293b;
  border: 1px solid #334155;
}

/* history section design done by meg*/

.historyNavButton {
  width: 104px;
  height: 30px;
  border-radius: 9999px;
  padding: 6.5px 16px 7.5px 16px;
  background-color: #1a252e;
  border: 1px solid #23313d;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: #cbd5e1;
}

.historyNavButton:hover {
  background-color: #1180d4;
  color: #ffffff;
}

.historynavh2 {
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 28px;
  color: #f1f5f9;
  margin-bottom: 10px;
}

.historicalSearchBar {
  width: 100%;
  height: 42px;
  padding: 11px 16px 12px 40px;
  background-color: #1a252e;
  border-radius: 12px;
  border: 1px solid #23313d;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #6b7280;
}

.historybody {
  display: flex;
}

.historyapprovalbutton {
  width: 100%;
  height: 62px;
  padding: 16px 0;
  display: flex;
  gap: 14px;
}
.historyapprovalsubsection {
  width: 100%;
  height: 185px;
  border-radius: 16px;
  padding: 16px;
  display: grid;
  gap: 12px;
  background-color: #1a252e;
  border: 1px solid #23313d;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.approvalFirstInnerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.historyRegID {
  font-size: 10px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  color: #94a3b8;
}

.historyreviewh3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-style: bold;
  color: #f1f5f9;
}
.historyapprovalsection {
  font-size: 10px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #10b981;
}

.coloredtextwrapper {
  width: 75px;
  height: 23px;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  background-color: #10b9811a;
}
.historysubmitsection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.historysubmitdate {
  width: 50%;
}

.submitterp {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 11px;
  color: #94a3b8;
}
.submittername {
  font-weight: 600;
  font-size: 11px;
  font-style: normal;
  line-height: 16.5px;
  color: #f1f5f9;
}

.historyrevirewsection {
  width: 97%;
  height: 36px;
  border-radius: 12px;
  padding: 10px 0;
  background-color: #1e293b;
  margin: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  line-height: 16px;
  color: #cbd5e1;
}

.historyapprovalsections {
  display: grid;
  gap: 18px;
}

.historyapprovalsectionRED {
  font-size: 10px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #ef4444;
}
.coloredtextwrapperRed {
  width: 75px;
  height: 23px;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  background-color: #ef44441a;
}

.historyapprovalsectionPEN {
  font-size: 10px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #8b5cf6;
}
.coloredtextwrapperPEN {
  background-color: #8b5cf61a;
  width: 75px;
  height: 23px;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
}

.historyviewmore {
  width: 100%;
  text-align: center;
  height: 52px;
  padding-top: 32px;
}

.historyviewmoreButton {
  background-color: var(--bg-dark-body);
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-style: bold;
  color: #1180d4;
}

/* Entry Nav Styling Done by Meg*/
.entryNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entryNavH2 {
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  line-height: 28px;
  color: #f1f5f9;
}

.entryNavP {
  width: 150px;
  height: 23px;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #2a5c821a;
  font-size: 10px;
  line-height: 15px;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2a5c82;
}
.directEntry {
  font-size: 24px;
  font-weight: 700;
  font-style: bold;
  line-height: 32px;
  color: #ffffff;
}
.directEntryP {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #64748b;
}

.manualSubDiv {
  margin-top: 30px;
}

.manualEntryH4 {
  font-size: 10px;
  font-weight: 700;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 1px;
  color: #64748b;
}
.manualEntrydivs {
  width: 100%;
  height: 53px;
  border-radius: 12px;
  padding: 16px;
  background-color: #161e27;
  border: 1px solid #23313d;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #475569;
}

.entrySupplierP {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #f1f5f9;
}
.manualSubDivTwin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 30px;
}
.entryQuatityDiv {
  width: 50%;
}

.entryExpiryDate {
  width: 50%;
}
.QTY {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entrydirectAid {
  width: 100%;
  height: 74px;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #2a5c8233;
  background-color: #2a5c820d;
  margin-top: 30px;
}
.directaidp {
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 20px;
  color: #ffffff;
}
.entryAuthority {
  margin-top: 30px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Authorisedby {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #64748b;
  display: grid;
  gap: 4px;
}
.authourisedbymanager {
  display: grid;
  gap: 4px;
}

.AutbyMp {
  font-size: 11px;
  font-weight: 700;
  font-style: bold;
  line-height: 16.5px;
  color: #cbd5e1;
}

.AutbyMp1 {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  font-style: normal;
  color: #22c55e;
}
.entryBigButon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.entryBigBtt {
  width: 448px;
  height: 52px;
  border-radius: 12px;
  padding: 16px 0;
  background-color: #2a5c82;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-style: bold;
  color: #ffffff;
}
.footerDiv {
  width: 100%;
  height: 121px;
  border-top: 1px solid #23313d;
  padding: 24px;
  gap: 16px;
  background-color: #0b1117f2;
  backdrop-filter: blur(24px);
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entryBlackBox {
  width: 128px;
  height: 6px;
  opacity: 1;
  border-radius: 9999px;
  background-color: #1e293b;
  border: 1px solid #23313d;
}
