@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Styling for the welcome page done by meg*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* offset for sticky header height */
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #f7f9fc;
  overflow-x: hidden;
}

.welcomepageNav {
  width: 100%;
  height: 56px;
  background-color: #2a5c82;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 4%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.authButtonContainer {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.welcomePageNavLogin {
  background-color: #2a5c82;
  width: 61px;
  height: 32px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.welcomepageNavSignup {
  width: 85px;
  height: 32px;
  border-radius: 9999px;
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #2a5c82;
  cursor: pointer;
}

.navMedstock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
}
.welcomePageHero {
  width: 100%;
  height: 350px;
  background-color: #2a5c82;
  padding-top: 40px;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, #2a5c82 0%, #1e4461 100%);
}

.welcomePageHeroH1 {
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.welcomePageHeroP {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 500;
}
.welcomePageHeroGetStarted {
  width: 320px;
  height: 52px;
  border-radius: 12px;
  border: none;
  color: #2a5c82;
  font-size: 16px;
  font-weight: 700;
  margin-top: 2rem;
  cursor: pointer;
}

.smartSection {
  background-color: #ffffff01;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 3rem 1.5rem;
  border-radius: 16px;
<<<<<<<<< Temporary merge branch 1
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1),
=========
  box-shadow:
    0px 8px 10px -6px rgba(0, 0, 0, 0.1),
>>>>>>>>> Temporary merge branch 2
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  padding-left: 1.5rem;
  height: 184.75px;
  padding-top: 0.5rem;
}
.smartSectionImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  /* margin: 30px 0; */
  margin-bottom: 30px;
  margin-top: 10px;
<<<<<<<<< Temporary merge branch 1
  box-shadow: 0px 4px 6px -4px #22c55e33, 0px 10px 15px -3px #22c55e33;
=========
  box-shadow:
    0px 4px 6px -4px #22c55e33,
    0px 10px 15px -3px #22c55e33;
>>>>>>>>> Temporary merge branch 2
  background-color: #22c55e;
  border-radius: 12px;
}
.smartSectionH2 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #0f172a;
  margin-bottom: 10px;
}
.smartSectionp {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.75px;
  color: #475569;
  margin-bottom: 10px;
}
.secondSection {
  background-color: #ffffff01;
  display: flex;
  justify-content: space-between;
  margin: 0rem 1.5rem;
  /* box-shadow: 0 4px 6px rgba(0, 0.1, 0.1, 0.3); */
  height: 10rem;
  padding-top: 0.5rem;
  gap: 16px;
}
.aiImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: lightblue;
  border-radius: 8px;
  margin-top: 21px;
  margin-bottom: 25px;
}

.aiImageDiv2 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  border-radius: 8px;
  margin-top: 21px;
  margin-bottom: 25px;
}

.forcastDiv {
  height: 138px;
  width: 50%;
  border-radius: 16px;
<<<<<<<<< Temporary merge branch 1
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
=========
  box-shadow:
    0px 4px 6px -4px #0000001a,
    0px 10px 15px -3px #0000001a;
>>>>>>>>> Temporary merge branch 2
  background: #ffffff01;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 1.5rem;
}

.stocks {
  height: 138px;
  width: 50%;
  border-radius: 16px;
<<<<<<<<< Temporary merge branch 1
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
=========
  box-shadow:
    0px 4px 6px -4px #0000001a,
    0px 10px 15px -3px #0000001a;
>>>>>>>>> Temporary merge branch 2
  background: #ffffff01;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: left;
  padding-left: 1rem;
}

.forcasth3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  color: #0f172a;
  margin-bottom: 5px;
}

.forcastp {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #64748b;
}

.pharmacy {
  background-color: #0f172a;
  color: white;
  padding: 2rem;
  margin: 3rem 1.5rem;
  border-radius: 10px;
}
.pharmacyScore {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pharmacyH2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #94a3b8;
  margin-bottom: 0.5rem;
}
.pharmacyP {
  width: 3rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: #2a5c82;
  color: #34d399;
  font-size: 0.8rem;
  align-items: center;
  text-align: center;
  padding-top: 0.4rem;
}
.util {
  font-weight: lighter;
  color: #94a3b8;
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
.createdWithAi {
  background-color: white;
  color: #64748b;
  display: flex;
  justify-content: space-between;
  height: 3.6rem;
  /* margin: 3rem 1.5rem; */
  margin: 0 1.5rem 0 1.5rem;
  border-radius: 50px;
  padding: 0 2rem;
  font-size: 0.5rem;
  align-items: center;
}
.createWithAiButton {
  background-color: #2a5c82;
  color: white;
  height: 2rem;
  width: 6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.welcomePagefooter {
  margin-top: 0;
  background-color: #e2e8f0;
  color: #2a5c82;
  text-align: center;
  height: 10rem;
  padding-top: 3rem;
}
.welcomePageDiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
/*sign in css*/

.signinDashBorad {
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SigninSvgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.svgDiv {
  width: 61px;
  height: 63px;
  border-radius: 16px;
  background-color: #2a5c82;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 4px 6px -4px #2a5c8233,
    0px 10px 15px -3px #2a5c8233;
}
.signinSubDashBoard {
  margin-top: 100px;
  text-align: center;
}
.signinPTag {
  font-size: 0.8rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3rem;
  color: #94a3b8;
}
.signinFormWrapper {
  width: 400px;
  height: 30rem;
  border-radius: 20px;
  background-color: white;
  color: #64748b;
  text-align: left;
  padding: 3rem 2rem 3rem 4rem;
}

.signinIput {
  width: 90%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: #f8fafc;
  padding: 1rem;
}
.signinLables {
  margin-top: 3rem;
}

.signinButton {
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  background-color: #2a5c82;
  border: none;
  color: white;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.singinforgotpassword {
  text-align: right;
  font-size: 0.7rem;
  font-weight: bold;
  margin-right: 3rem;
}

.signinOptions {
  margin-top: 1.5rem;
  color: #64748b;
  font-size: 14px;
}

.siginoptions {
  border: none;
  background-color: none;
  color: #2a5c82;
  font-weight: bold;
  font-size: 14px;
}

.signinComplaince {
  font-size: 0.7rem;
  margin-top: 3rem;
  font-weight: 100;
}

/* Style for managers Dashboard by meg */
:root {
  --bg-dark-body: #050810;
  --bg-card: #0b1120;
  --color-blue: #3b82f6;
  --color-green: #22c55e;
  --color-text: #f8fafc;
  --color-muted: #64748b;

  /* Your specific requested shadow */
  --card-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

/* --- BASIC RESET --- */

.body {
  margin: 0;
  background-color: var(--bg-dark-body);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}
.nav-links {
  margin-left: 80px;
  background-color: #101a22cc;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 1000;
  margin-top: 0;
  padding: 16px 24px 16px 24px;
}

.navoversight {
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  line-height: 28px;
  color: #f1f5f9;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navDate {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #94a3b8;
  margin-top: 0;
  padding-top: 0;
}

/* --- LAYOUT --- */
.app-layout {
  display: flex;
  min-height: 100vh;
  /* background-color: #3b82f6; */
}

.sidebar {
  width: 80px;
  background: var(--bg-dark-body);
  border-right: 1px solid #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.assest {
  display: flex;
  width: 100%;
  height: 137px;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.dashBoardTotalAssest {
  width: 50%;
  height: 130px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border: 1px solid #23313d;
  padding-left: 10px;
  background: #1a252e;
}
.dashBoardActiveAlert {
  width: 50%;
  height: 130px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border: 1px solid #23313d;
  padding-left: 10px;
  background: #1a252e;
  text-align: left;
}

.dashboardassesth4 {
  font-size: 10px;
  font-weight: 700s;
  font-style: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #64748b;
  margin-bottom: 30px;
}

.dashboardassestfigures {
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  line-height: 32px;
  color: #f1f5f9;
  margin-bottom: 0;
  padding-bottom: 0;
}
.dashboardassestp {
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  margin-top: 0;
  padding-top: 0;
  color: #22c55e;
}
.dashboardassestp2 {
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  margin-top: 0;
  padding-top: 0;
  color: #ef4444;
}
.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.approvalListH2 {
  font-size: 14px;
  font-weight: 700;
  font-style: bolds;
  line-height: 20px;
  letter-spacing: 1.4px;
  color: #64748b;
  margin-top: 24px;
}
.main-content {
  flex: 1;
  padding: 40px;
  max-width: 100%;
}
.approval-card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: var(--card-shadow);
  border: 1px solid #1e293b;
}
.aprrovalanchor {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #1180d4;
  cursor: pointer;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.sub-label {
  font-size: 11px;
  color: var(--color-muted);
  display: block;
}
.qty-add {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-blue);
}

/* --- USER INFO STRIP --- */
.user-strip {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 13px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.av-green {
  background: var(--color-green);
}
.av-blue {
  background: var(--color-blue);
}

/* --- BUTTONS --- */
.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-dark {
  background: #1e293b;
  color: white;
}
.btn-blue {
  background: var(--color-blue);
  color: white;
}
button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.dashboardInsulin {
  width: 100%;
  height: 66px;
  border-radius: 12px;
  border: 1px solid #23313d;
  background: #1a252e;
}
.criticalsecth2 {
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  line-height: 16px;
  color: #f1f5f9;
  margin-bottom: 0;
  padding-bottom: 0;
}
.criticalsectionp {
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
  color: #64748b;
  margin-top: 0;
  padding-top: 0;
}

.criticalalert {
  display: grid;
  gap: 16px;
}
.inventoryHealth {
  width: 100%;
  height: 153px;
  border-radius: 16px;
  padding: 16px;
<<<<<<<<< Temporary merge branch 1
  box-shadow: 0px 8px 10px -6px #1180d433, 0px 20px 25px -5px #1180d433;
=========
  box-shadow:
    0px 8px 10px -6px #1180d433,
    0px 20px 25px -5px #1180d433;
>>>>>>>>> Temporary merge branch 2
  background: #1180d4;
  margin-top: 30px;
}

.inventoryh4 {
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  padding-bottom: 0;
  margin-bottom: 0;
}

.inventoryp {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #ffffff;
  margin-top: 5px;
  padding-top: 0;
}
.inventoryHealthRatio {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  height: 76px;
  align-items: end;
  /* padding-bottom: 10px; */
  width: 100%;
}

.one {
  height: 38.39px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.two {
  height: 51.19px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.three {
  height: 60.8px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff66;
}

.four {
  height: 44.8px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.five {
  height: 54.39px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.six {
  height: 41.5px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #ffffff33;
}
.seven {
  height: 76px;
  /* width: 153.14px; */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #ffffff80;
}
<<<<<<<<< Temporary merge branch 1

/* SIGNUP DESGINS */
.registration-container{
    height:100vh;
    background-color:#F8FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.registration-card {
    background-color:#F8FAFC;
    padding: 30px;
    width: 400px;
    border: 12px;
    box-shadow: #1A262F;
}
.registration-card h2 {
    margin-bottom: 5px;
    color: #2A5C82;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
    color:#1A262F;
}
input{
    padding: 10px;
    border-radius: 8px;
    /* border: 1px; solid #cbd5e1; */
    outline: none;
}
input:focus {
    border-color:#2A5C82 ;
}
.responsibilities-box h4 {
    margin-bottom: 10px;
    color: #E0F2FE;
}
.responsibilities-box ul {
    padding-left: 20px;
    font-size: 14px;
}
.submit-btn {
    margin-top: 20px;
    padding: 12px;
    background-color:#2A5C82;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.submit-btn:hover{
    background-color: #2A5C82;
}
=========
>>>>>>>>> Temporary merge branch 2
