.dashboard-layout {
display: flex;
height: 100vh;
background: #1A262F;
color: white;
font-family: Arial, sans-serif;
}

.sidebar {
width: 70px;

background: #334155;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
}

.sidebar ul {
list-style: none;
padding: 0;
margin-top: 20px;
}

.sidebar li {
margin: 20px 0;
font-size: 22px;
cursor: pointer;
}

.dashboard-main {
flex: 1;
padding: 20px 30px;
}

.top-bar {
display: flex;
justify-content: space-between;

align-items: center;
}

.profile {
background: #101A22CC;
padding: 6px 12px;
border-radius: 20px;
font-size: 14px;
}

.alert-card {
background: #123b52;
padding: 15px;
border-radius: 10px;
margin-top: 20px;
}

.actions {
margin-top: 15px;
}

.btn-primary {
background: #1e88e5;
padding: 10px 15px;
border: none;
border-radius: 8px;
color: white;

margin-right: 10px;
cursor: pointer;
}

.btn-secondary {
background: #1c3b4f;
padding: 10px 15px;
border: none;
border-radius: 8px;
color: #64748B;
cursor: pointer;
}

.pending-card {
margin-top: 20px;
background: #123b52;
padding: 15px;
border-radius: 10px;
}

.pending-item {
display: flex;
justify-content: space-between;
padding: 8px 0;
border-bottom: 1px solid #1A262F;
}

.right-panel {
width: 220px;
background:#1E293B;
padding: 20px;
}

.progress-bar {
width: 100%;
height: 8px;
background:#138EEC;
border-radius: 5px;
margin-top: 10px;
}

.progress {
width: 33%;
height: 100%;
background: #1e88e5;
border-radius: 5px;